<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Weather app</title>
        <link rel="stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css">
    </head>

    <body>
        <div class="Title">
            {% load static %}
            <h1 style="background-image:url('{% static weather_background_cute_stylized_icons_decor_6835599.jpg %}') ; font-size: 100px; padding: 20px; font-style: italic; color: brown  ;;">Daily Weather</h1>
        </div>
        <div class="Main_stuff">
            <form method="POST" style = "text-align: center;">
                <label for = "City">
                    Write the name of the <i>city</i> for Weather report
                </label>
                <div class="column is-offset-4 is-4">
                    {% csrf_token %}
                    <div class="field has-addons">
                        <div class="control is-expanded">
                            {{form.name}}
                            <br>
                            <Br>

                            <button type="submit" style="background-color: orange; ;">Add city</button>
                        </div>
                    </div>
                </div>
            </form>

        </div> 

        <div class = "container">
            <div class = "columns">
                <div class="column is-offset-4 is-4">
                    {% for city_weather in Weather_data %}
                    <div class = "box">
                        <article class = "media">
                            <div class = "media-left">
                                <figure>
                                    
                                    <img src = "http://openweathermap.org/img/w/{{city_weather.icon}}.png">
                                </figure>
                            </div>
                            <div class = "media-content">
                                <div class = "content" >
                                    <p>
                                        <span class = "title">
                                            {{city_weather.city}}
                                        </span>
                                        <br>
                                        <br>
                                        <span class = "subtitle">
                                            {{city_weather.temperature}}° C
                                        </span>
                                        <br>
                                        <br>
                                        {{city_weather.description}}
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>







    </body>










</html>